:local(.newItem) {
  opacity: 0;
  animation: new-item-animation .3s linear forwards;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-400px);
}

  to {
    opacity: 1;
    transform : translateY(0);
  }
}
